<!DOCTYPE html>
<html>

<script type="text/javaScript">
function timedRefresh(timeoutPeriod) {
	setTimeout("location.reload(true);",timeoutPeriod);
}
</script>

<head>
	<meta charset="utf-8"></meta>
	<link rel="stylesheet" href="/static/stylesheet/main.css" type="text/css"/>
	<link rel="icon" href="/static/images/favicon.ico" type="SHORTCUT ICON"/>
	<title>StartlingAppsKit</title>
</head>
<body id="body">
	<header id="header">
		<span id="header_content">
			<a href="/">
				<span id="headertext">Startling Apps Kit</span>
				<span id="headertext2">*(Experimental version)*</span>
			</a>
			<span id="tw">
			<a href="http://www.google.com">
				<label id="googlelabel" title="Go to Google">Browse Google</label>
			</a>
			</span>
		</span>
	</header>
	<nav id="main_nav">|| 
		<a href="/" class="nav_others">Home</a>  ||
		<a href="/crawler" class="nav_others" title="Crawl a Web Page">Crawler</a>  ||
		<a href="/dictionary" class="nav_others" title="Online Dictionary">Dictionary</a>  ||
		<a href="/weather_report" id="nav_current" title="Get Weather Report">Weather Report</a> ||
		<a href="http://www.qbingapp.appspot.com" class="nav_others" title="Go to Qbing">QBing</a> ||
		<span id="nav_text" title="Developer and Designer: Kunal Sharma">(From ||Him_Coder||&reg; Python Development Unit)
		</span>
	</nav>
	<div id="rightside_links">
				<span>Share</span><br><br>
				<div>
					<a href="https://www.facebook.com/pages/Startling-apps/313810505407653">
						<img src="/static/images/facebook.png" title="Like Us"
							width="30px" height="30px"/></a><br>
					<a href="https://twitter.com/ksworld92">
						<img src="/static/images/twitter.png" title="Follow Us"
							width="30px" height="30px"/></a><br>
					<a href="https://plus.google.com/b/102467185781267913385/102467185781267913385/about">
						<img src="/static/images/google.png" title="+1 Us"
							width="30px" height="30px"/></a><br>
					<a href="http://www.yahoo.com/">
						<img src="/static/images/yahoo.png" title="Go to Yahoo.com"
							width="30px" height="30px"/></a><br>
					<a href="http://www.youtube.com/">
						<img src="/static/images/youtube.png" title="Go to Youtube.com"
							width="30px" height="30px"/></a><br>
					<a href="http://www.skype.com/">
						<img src="/static/images/skype.png" title="Go to Skype.com"
							width="30px" height="30px"/></a><br>
					<a href="http://www.amazon.com/">
						<img src="/static/images/amazon.png" title="Go to Amazon.com"
							width="30px" height="30px"/></a>
				</div>
	</div>
	<div>
		<a href="/weather_report" style="text-decoration:none;">
			<input type="submit" value="{{val}}"  id="button_new_search_weather"/>
		</a>
	</div>
	<div id="body_div_weather_post">
		<div id="body_weather_post_content">
			<div id="weather_post_content_header">{{location}} Weather Forcast:
			</div>
			<div id="weather_post_content_body" style="text-decoration:none;">
				<div style="padding-top:20px;">
					<div id="weather_data_div_top">
						<label>Current Time
							<span style="margin-left:20px;color:#8B2252;">{{time}}</span></label>
					</div>
				</div>
				<div id="weather_data_div_other">
						<div style="float:left;">Latitude:
							<span style="color:#8B2252;">{{lat}}</span></div>
						<div style="float:right;margin-right:30px;">Longitude:
							<span style="color:#8B2252;">{{long}}</span></div>
				</div>
				<div id="weather_data_div_other">
						<div style="float:left;">Elevation:
							<span style="color:#8B2252;">{{elev}}</span></div>
						<div style="float:right;margin-right:30px;">Wind Speed:
							<span style="margin-left:10px;color:#8B2252;">{{wind}}
								<span style="margin-left:5px;color:#8B2252;">Km/h</span>
								</span></div>
				</div>
				<div id="weather_data_div_other">
						<div style="float:left;">SunRise
							<span style="color:#8B2252;">{{sunrise}}</span></div>
						<div style="float:right;margin-right:30px;">SunSet
							<span style="color:#8B2252;">{{sunset}}</span></div>
				</div>
				<div id="weather_data_div_other">
						<div style="float:left;">Current Temprature
							<span style="color:#8B2252;">{{temp}}</span></div>
						<div style="float:right;margin-right:30px;">
							<span style="color:#8B2252;">{{condition}}</span></div>
				</div>
				<div id="weather_data_div_other">
						<div style="float:left;">Temprature Tonight
							<span style="color:#8B2252;">{{tonight}}</span></div>
						<div style="float:right;margin-right:30px;">Rain Tonight:
							<span style="color:#8B2252;">{{rtn}}</span></div>
				</div>
				<div id="weather_data_div_other">
						<div style="float:left;">Temprature Tomorrow
							<span style="color:#8B2252;">{{tomorrow}}</span></div>
						<div style="float:right;margin-right:30px;">Rain Tomorrow:
							<span style="color:#8B2252;">{{rtm}}</span></div>
				</div>
				<div>
					<div style="background:#ffffff;color:#282828;font-size:12px;">
						<span style="float:right;margin-right:10px;
							color:#8B7E66;">Records are made available from 
								<a href="http://www.wunderground.com/"
									style="margin-left:2px;color:#8B7E66;text-decoration:none;">
									Wunderground.com</a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer style="clear:both;font-size:12px;text-align:center;text-decoration:none;color:#1e90ff;">
		<hr style="color:#660000;">
		&copy; All Rights Reserverd with Him_Coder. <br/>While using this site, you've already agreed to accept our terms of use and privacy policy.
		<hr style="color:#660000;">
	</footer>
</body>
</html>
