<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
	<title>QBing</title>
	<meta charset="utf-8"></meta>
	<link rel="stylesheet" href="/static/styles/main.css" type="text/css">
</head>
<body id="body">
<script type="text/javaScript">
function clearplaceholder()
{
document.form1.query.placeholder = ""
}
function resetdefault()
{
document.form1.query.placeholder = "Your QBing Query???"
}
</script>
<hr>
	<div id="header" style="background:white;padding-top:5px;">
		<a href="" style="text-decoration:none;"><span style="margin-left:10%;font-weight:bold;font-size:25px;color:#1e90ff;">QBing</a>
		<span style="color:#660000;">&reg;</span>
		</span>
		<a href="http://www.startlingapps.appspot.com/" 
			style="text-decoration:none;"><span style="float:right;margin-right:12%;margin-top:6px;color:#1e90ff;font-size:15px;">
			(An innovation from <span style="font-weight:bold;">||Him_Coder||&reg;</span>)</a></span>
	</div><hr>
	<div id="links_get">
		<span style="color:#1e90ff;font-size:15px;cursor:default;">Share</span><br>
		<a href="https://www.facebook.com/pages/Startling-apps/313810505407653" style="text-decoration:none;">
			<img id="like_facebook" src="/static/images/facebook2.png" width="30" height="30">
		</a><br>
		<a href="https://plus.google.com/b/102467185781267913385/102467185781267913385/about" 
				style="text-decoration:none;">
			<img id="like_google" src="/static/images/google2.png" width="30" height="30">
		</a>
	</div>
	<div id="app_body_content">
		<div id="app_body_content_left" style="color:#660000;">
			<span style="font-weight:bold;font-size:20px;">Welcome to Qbing</span><br>
			<div id="search_box">
				<span style="color:#1e90ff;font-weight:bold;font-family: "Times New Roman";">Query QBing:<span><br>
				<form name="form1" method="post" style="padding-top:10px;" autocomplete="off">
					<input id="input_box" type="text" name="query" placeholder="{{placeholder}}" 
						onclick="clearplaceholder()" onblur="resetdefault()">
					<input type="submit" value="QBingGo" id="button">
				</form>
			</div><br>
				<p style="">QBing works as a search box to search its users queries.
				 It is named so because it seraches its users queries in 
					<a href="http://www.bing.com/" style="text-decoration:none;color:#1e90ff;">
					Bing</a>. 
					Bing (known previously as Live Search, Windows Live Search, and MSN Search) is a 
					web search engine from Microsoft. 
					Bing was unveiled by Microsoft CEO Steve Ballmer on May 28, 2009 at the 
					All Things Digital conference in San Diego for release on June 1.
				</p>
		<p>QBing is a unique application of its own kind. QBing works on the following technologies:
		<ul style="color:#1e90ff;">
			<li>Python</li>
			<li>Google App Engine</li>
			<li>YAML</li>
			<li>HTML</li>
			<li>CSS</li>
			<li>Javascript</li>
		</ul>
		</p>
		<p>QBing Application is studied, designed, developed and deployed by
		<a href="http://www.startlingapps.appspot.com/about" style="text-decoration:none;" title="Him_Coder Foundations">
			<span style="color:#1e90ff;">||Him_Coder||</span>
			<span style="color:#1e90ff;font-size:12px;vertical-align:super;">&reg;</span></a> foundations.<br> 
			<a href="http://www.startlingapps.appspot.com/" style="text-decoration:none;" title="Him_Coder Foundations">
			<span style="color:#1e90ff;">||Him_Coder||</span>
			<span style="color:#1e90ff;font-size:12px;vertical-align:super;">&reg;</span></a> is the owner of 
				<a href="http://www.startlingapps.appspot.com/" style="text-decoration:none;">"StartlingApps"</a>.</p>
		</div>	
		<div id="app_body_content_right" style="">
			<span style="color:#660000;font-weight:bold;font-size:19px;">About Output:</span>
			<p>The Output from the QBing will show you various links that you can 
			refer form output page of QBing application. Output example:<p></p>	
			<img src="/static/images/snip.png" width="90%" height="180" 
				style="border:2px solid #EBEBEB;margin-top:10px;margin-bottom:10px;">
			<a href="http://www.startlingapps.appspot.com/" style="text-decoration:none;font-weight:bold;" title="Him_Coder Foundations">
			Visit Startling Apps:
			<img src="/static/images/startling.png" width="90%" height="180" 
				style="border:2px solid #EBEBEB;margin-top:10px;margin-bottom:10px;">	</a>
			</p>
		</div>
	</div>
	<div style="clear:both;text-align:center;color:#660000;background:white;font-size:12px;font-weight:bold;">
	<hr>
		&copy;All rights reserved with ||Him_Coder||&reg;.<br>
		While using this application you have already agreed to our Terms and Privacy Policy.
	<hr>
	</div>
</body>
</html>
