<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
	<title>QBing</title>
	<meta charset="utf-8"></meta>
	<link rel="stylesheet" href="/static/styles/main.css" type="text/css">
</head>
<body id="body">
<hr>
	<div id="header" style="background:white;padding-top:8px;">
		<a href="" style="text-decoration:none;"><span style="margin-left:10%;font-weight:bold;font-size:25px;color:#1e90ff;">QBing</a>
		<span style="color:#660000;">&reg;</span>
		</span>
		<a href="" style="text-decoration:none;"><span style="float:right;margin-right:12%;margin-top:6px;color:#1e90ff;font-size:15px;">
			(An innovation from <span style="font-weight:bold;">||Him_Coder||&reg;</span>)</a></span>
	</div><hr>
	<div id="links_post">
		<span style="color:#1e90ff;font-size:15px;cursor:default;">Share</span><br>
		<a href="https://www.facebook.com/pages/Startling-apps/313810505407653" style="text-decoration:none;">
			<img id="like_facebook" src="/static/images/facebook2.png" width="30" height="30">
		</a><br>
		<a href="https://plus.google.com/b/102467185781267913385/102467185781267913385/about" 
				style="text-decoration:none;">
			<img id="like_google" src="/static/images/google2.png" width="30" height="30">
		</a>
	</div>
	<div id="new_search">
		<a href="/" style="text-decoration:none;">
			<input type="submit" value="New Search???" style="background:white;"></a>
	</div>
	<div id="app_body_content">
		<div id="app_body_content_post" style="color:#660000;padding:15px;height:100%;">
			<span style="font-weight:bold;font-size:20px;">QBing found <span style="font-weight:italic;color:#1e90ff;">{{query}}</span>  					in the followings:</span>
			<ol style="width:100%;overflow:hidden;color:#1e90ff;">
				{% for item in data %}
        				<li style="text-decoration:none;color:#1e90ff;border-bottom:1px solid #BABABA;padding:5px;">
						<a href="#" style="text-decoration:none;color:#8B2252;">{{item}}</a></li>
    				{% endfor %}
			</ol>
		</div>
		<p style="float:right;margin-right:10px;color:#660000;">Back to
		<a href="http://www.startlingapps.appspot.com/" style="text-decoration:none;">"Startling Apps"</a></p>
	</div>
	<div style="clear:both;text-align:center;color:#660000;background:white;font-size:12px;margin-top:15px;font-size:12px;font-weight:bold;">
	<hr>
		&copy;All rights reserved with ||Him_Coder||.<br>
		While using this application you have already agreed to our Terms and Privacy Policy.
	<hr>
	</div>
</body>
</html>
