<!DOCTYPE html>
<html lang="en">
<head>
	<link href="/static/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<title>TnP Cell UIIT Shimla</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Description" content="Training and Placement Cell UIIT Shimla welcomes you to TnP Cell web-portal, University Institute of 					Information Technology, Himachal Pradesh University Summerhill, Shimla. Browse through our brochure for more details 					on UIIT and our placement process." />
	<meta name="keywords" content="tnp uiit, TnP Cell UIIT Shimla,Training and Placement Cell UIIT Shimla, Placements UIIT Shimla,Training UIIT 				Shimla, Placements UIIT, UIIT,University Institute of Information Technology,HPU,
			Himachal Pradesh University,Summerhill,Shimla,Simla,H.P" />
	<meta property="og:description"  content="Training and Placement Cell UIIT Shimla, University Institute of Information Technology,
				 Himachal Pradesh University Shimla" />	
	<meta property="og:url" content="http://www.tnpuiit.appspot.com/" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Training and Placement Cell UIIT Shimla, University Institute of Information Technology,
				 Himachal Pradesh University Shimla" />
	<link href="/static/styles/main.css" rel="stylesheet" type="text/css">
</head>
<body><!----Start of Body -->
	<div id="inside_body">				<!----Start of inside_body div---------->
		<div id="logo">				<!----Start of logo div---------->
			<div id="logo_image">
				<img src="/static/images/logo.png" width="80" height="80" style="">
			</div>
			<div style="font-size:25px;color:#104E8B;margin-top:10px;">
					University Institute of Information Technology</div>
			<div style="font-size:14px;color:#104E8B;">
					Netaji Subhash Chandra Bose Bhavan, Himachal Pradesh University,<br> Summerhill, Shimla, 171005</div>
		</div>
		<div id="header">
		Training and Placement Cell, UIIT
		</div>
		<div id="menu">						<!----start of nav menu -->
			<a href="/" id="nav_others" title="Home UIIT">
					Home</a>
			<a href="/about_uiit" id="nav_others" title="About UIIT">
					About UIIT</a>
			<a href="/academics" id="nav_current" title="UIIT Academics">
					Academics</a>
			<a href="/students" id="nav_others" title="Students Life at UIIT">
					Students</a>
			<a href="/placements" id="nav_others" title="Placements UIIT">
					Placements</a>
			<a href="/alumni" id="nav_others" title="Alumni UIIT">
					Alumni</a>
			<a href="/downloads" id="nav_others" title="Downloads">
					Downloads</a>
			<a href="/contact_us" id="nav_others" title="Contact Us">
					Contact Us</a>
		</div>							<!----Close of menu -->
		<div id="about_uiit_main" style="border:1px solid #EBEBEB;"><!---Start of academics body--->
			<div id="academics_left" style=""><!---Start of academics left side--->
				<span style="color:#660000;font-size:18px;font-weight:bold;text-align:center;">
				Administration and Faculty UIIT Shimla</span><br><br>
				<!---Start of profiles--->
				<div id="profiles" style="width:98%;float:left;margin-left:1%;">
					<div id="profile">
						<div style="float:left;width:60%;">
							<span style="color:#1e90ff;font-weight:bold;">Director UIIT:</span><br><br>
							<span style="font-weight:bold;">Dr. Neeraj Sharma</span>
							<p style="color:#660000;">Dean Engineering and Technology,<br>
										Himachal Pradesh University, Shimla</p>
						</div>	
						<div id="picture" style="width:35%;float:left;overflow:hidden;">
							<img src="/static/images/director.png">
						</div>
					</div>
					<div id="profile">
						<div style="float:left;width:60%;">
							<span style="color:#1e90ff;font-weight:bold;">Coordinator UIIT:</span><br><br>
							<span style="font-weight:bold;">Dr. Arvind Kumar Bhatt</span>
							<p style="color:#660000;">Dept. of Biotechnology<br>
									Himachal Pradesh University, Shimla</p>
						</div>	
						<div id="picture" style="width:35%;float:left;overflow:hidden;">
							<img src="/static/images/coordinator.jpg">
						</div>
					</div>
					<div id="profile">
						<div style="float:left;width:60%;">
							<span style="color:#1e90ff;font-weight:bold;">Training and Placement Officer:</span><br><br>
							<span style="font-weight:bold;">Dr. Dhirendra Sharma</span>
							<p style="color:#660000;">Incharge Networking/Placements and Faculty(IT)<br>
									Himachal Pradesh University, Shimla</p>
								Ph.D Computer Sc. and Engg, MS (S/W Systems),<br>
								MBA (IT), M.Sc Physics (Spl Electronics)
						</div>	
						<div id="picture" style="width:35%;float:left;overflow:hidden;">
							<img src="/static/images/tpo.jpg">
						</div>
					</div>
					<div id="profile">
						<div style="float:left;width:60%;">
							<span style="color:#1e90ff;font-weight:bold;">Assistant Professor (IT/CSE):</span><br><br>
							<span style="font-weight:bold;">Er. Balvir Singh Thakur</span><br>
							<span style="color:#660000;">M.Tech(IT)<br><br>Subjects:</span><br>

							Software Engineering, DBMS, Parallel Computing, Data Structures, System Analysis & Design 
						</div>	
						<div id="picture" style="width:35%;float:left;overflow:hidden;">
							<img src="/static/images/bst.jpg">
						</div>
					</div>
					<div id="profile">
						<div style="float:left;width:60%;">
							<span style="color:#1e90ff;font-weight:bold;">Assistant Professor (IT/CSE):</span><br><br>
							<span style="font-weight:bold;">Er. Akshay Bhardwaj</span><br>
							<span style="color:#660000;">M.Tech(IT)<br><br>Subjects:</span><br>
							Multimedia, Web Technologies, ERP, Advanced Internet Technologies 
						</div>	
						<div id="picture" style="width:35%;float:left;overflow:hidden;">
							<img src="/static/images/akshay_bhardwaj.jpg">
						</div>
					</div>
					<div id="profile">
						<div style="float:left;width:60%;">
							<span style="color:#1e90ff;font-weight:bold;">Assistant Professor (Physics):</span><br><br>
							<span style="font-weight:bold;">Dr. Shyam Chand</span><br>
							<span style="color:#660000;">Ph.D (Physics)<br><br>Subjects:</span><br>
							Applied Physics, Mechanical Engineering 
						</div>	
						<div id="picture" style="width:35%;float:left;overflow:hidden;">
							<img src="/static/images/dr_shyam.jpg">
						</div>
					</div>
					<div id="profile">
						<div style="float:left;width:60%;">
							<span style="color:#1e90ff;font-weight:bold;">Assistant Professor (Mathematics):
								</span><br><br>
							<span style="font-weight:bold;">Dr. Praveen Kumar Sharma</span><br>
							<span style="color:#660000;">M.Sc, M.Phil., Ph.D (Maths)
								(CSIR-UGC NET Qualified)<br><br>Subjects:</span><br>
							Maths, Discrete Mathematics, Probability Statistics & Queing Theory, Modelling & Simulation 
						</div>	
						<div id="picture" style="width:35%;float:left;overflow:hidden;">
							<img src="/static/images/dr_praveen.jpg">
						</div>
					</div>
					<div id="profile">
						<div style="float:left;width:60%;">
							<span style="color:#1e90ff;font-weight:bold;">
									Assistant Professor (Electronics):</span><br><br>
							<span style="font-weight:bold;">Er. Anu Gaur</span><br>
							<span style="color:#660000;">B.Tech (Elec.& Tel.Comm)<br><br>Subjects:</span><br>
							Global Positions System & Application, Computer Networks, 
							Digital Electronics, Microprocessors 
						</div>	
						<div id="picture" style="width:35%;float:left;overflow:hidden;">
							<img src="/static/images/anu_gaur.jpg">
						</div>
					</div>
					<div id="profile">
						<div style="float:left;width:60%;">
							<span style="color:#1e90ff;font-weight:bold;">Assistant Professor (Electronics):
											</span><br><br>
							<span style="font-weight:bold;">Er. Ajay Lotheta</span><br>
							<span style="color:#660000;">B.Tech (Elec.& Tel.Comm)<br><br>Subjects:</span><br>
							Basic Electronics, Digital Communication
						</div>	
						<div id="picture" style="width:35%;float:left;overflow:hidden;">
							<img src="/static/images/ajay_lotheta.jpg">
						</div>
					</div>
					<div id="profile">
						<div style="float:left;width:60%;">
							<span style="color:#1e90ff;font-weight:bold;">System Administrator:</span><br><br>
							<span style="font-weight:bold;">Mr. Rajesh Chauhan</span><br>
							<span style="color:#660000;">MCA<br><br>Specializations:</span><br>
							Linux, Lab Administration, RDBMS, System Analysis and Design
						</div>	
						<div id="picture" style="width:35%;float:left;overflow:hidden;">
							<img src="/static/images/rajesh.jpg">
						</div>
					</div>
					<div id="profile">
						<div style="float:left;width:60%;">
							<span style="color:#1e90ff;font-weight:bold;">Programmer:</span><br><br>
							<span style="font-weight:bold;">Mr. Sunil Kumar</span><br>
							<span style="color:#660000;">MCA<br><br>Specialization:</span><br>
							Lab Administration, Java, C++, Operating System, Linux, Databases 
						</div>	
						<div id="picture" style="width:35%;float:left;overflow:hidden;">
							<img src="/static/images/sunil.jpg">
						</div>
					</div>
				</div><!---close of profiles body--->
			</div><!---Start of academics left side--->
			<div id="academics_menu">
				<a id="academics_menu_a_current" href="/academics" 
					style="height:45px;">
				Permanent<br>Faculty</a>
				<a id="academics_menu_a_others" href="/static/guest.pdf" 
					style="height:45px;">
				Guest<br>Faculty</a>
				<a id="academics_menu_a_others" href="/facilities" 
					style="">
				Facilities</a>
				<a id="academics_menu_a_others" href="/course" 
					style="height:45px;">
				Course<br>Outline</a>
				<a id="academics_menu_a_others" href="/course_syllabus" 
					style="height:45px;">
				Course<br>Syllabus</a>
			</div>
		</div>
	</div>		<!----Close of inside_body -->
	<hr>
	<div id="footer" style="text-align:center;color:#fff;clear:both; display:block;background:#000;width:98%;font-size:12px;padding:1%;">
	&copy;All rights reserved with ||Him_Coder||&reg;.<br>
	Designed, developed by ||Him_Coder||&reg;.
	Note that this is not the official website for TnP Cell, UIIT Shimla. It is just a sample and developed only for the study and experimental purpose.
	</div><hr>
</body>				<!----Close of Body -->
</html>
