<!DOCTYPE html>
<html lang="en">
<head>
	<link href="/static/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<title>TnP Cell UIIT Shimla</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Description" content="Training and Placement Cell UIIT Shimla welcomes you to TnP Cell web-portal, University Institute of 					Information Technology, Himachal Pradesh University Summerhill, Shimla. Browse through our brochure for more details 					on UIIT and our placement process." />
	<meta name="keywords" content="tnp uiit, TnP Cell UIIT Shimla,Training and Placement Cell UIIT Shimla, Placements UIIT Shimla,Training UIIT 				Shimla, Placements UIIT, UIIT,University Institute of Information Technology,HPU,
			Himachal Pradesh University,Summerhill,Shimla,Simla,H.P" />
	<meta property="og:description"  content="Training and Placement Cell UIIT Shimla, University Institute of Information Technology,
				 Himachal Pradesh University Shimla" />	
	<meta property="og:url" content="http://www.tnpuiit.appspot.com/" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Training and Placement Cell UIIT Shimla, University Institute of Information Technology,
				 Himachal Pradesh University Shimla" />
	<link href="/static/styles/main.css" rel="stylesheet" type="text/css">
</head>
<body><!----Start of Body -->
	<div id="inside_body">				<!----Start of inside_body div---------->
		<div id="logo">				<!----Start of logo div---------->
			<div id="logo_image">
				<img src="/static/images/logo.png" width="80" height="80" style="">
			</div>
			<div style="font-size:25px;color:#104E8B;margin-top:10px;">
					University Institute of Information Technology</div>
			<div style="font-size:14px;color:#104E8B;">
					Netaji Subhash Chandra Bose Bhavan, Himachal Pradesh University,<br> Summerhill, Shimla, 171005</div>
		</div>
		<div id="header">
		Welcome to Training and Placement Cell, UIIT
		</div>
		<div id="menu">						<!----start of nav menu -->
			<a href="/" id="nav_current" title="Home UIIT">
					Home</a>
			<a href="/about_uiit" id="nav_others" title="About UIIT">
					About UIIT</a>
			<a href="/academics" id="nav_others" title="UIIT Academics">
					Academics</a>
			<a href="/students" id="nav_others" title="Students Life at UIIT">
					Students</a>
			<a href="/placements" id="nav_others" title="Placements UIIT">
					Placements</a>
			<a href="/alumni" id="nav_others" title="Alumni UIIT">
					Alumni</a>
			<a href="/downloads" id="nav_others" title="Downloads">
					Downloads</a>
			<a href="/contact_us" id="nav_others" title="Contact Us">
					Contact Us</a>
		</div>							<!----Close of menu -->
		<div id="notifications">				<!----start of notifications -->
			<div id="notifications_left">
<!-----------Slide Show UIITPics---------------------------------------------------------------------->
				<img name="slider" src="/static/images/1.jpg" width="550" height="400"
					 style="border:2px solid #EBEBEB;">

<script type="text/javaScript">
var s=1;
function slide()
{
if(s<5)
{
	if(s==1)
	{
	document.slider.src="/static/images/"+s+".jpg";
	s=2;
	}
	else if(s==2)
	{
	document.slider.src="/static/images/"+s+".jpg";
	s=3;
	}
	else if(s==3)
	{
	document.slider.src="/static/images/"+s+".jpg";
	s=4;
	}
	else if(s==4)
	{
	document.slider.src="/static/images/"+s+".jpg";
	s=1;
	}
}
else {s=1;}
setTimeout("slide()",2500);
}
slide();
</script>
<!-----------Slide Show UIITPics---------------------------------------------------------------------->
			</div>
			<div id="notifications_right">
			<!-----------Notice Board------>
				<div id="notice" style="display:block;color:#fff;padding:5px;
					font-weight:bold;background:#000;margin-bottom:3px;">News Updates:
				</div>
				<div id="note" style="">
				UIIT launched its new 'Placement Cell' web-portal on March,30,2013.
				 This portal works on the latest web development technologies i.e. Python and GAE.
				</div>
				<div id="note" style="">
				UIIT is going to celebrate its 'Sports Meet' by April,25,2013. 
				</div>
				<div id="note" style="">
				UIIT will launch its magazine 'Aarohan-2013' in the month of May this year.
				</div>
				<div id="note" style="">
				UIIT will celebrate its annual cultural fest 'Utkarsh-2013' in the month of September this year.
				</div>
			<!-----------Quote BOX------>
				<div style="color:#fff;background:#000;margin-top:5px;margin-bottom:3px;font-weight:bold;padding:5px;">
				Quote of the week:</div>
				<div id="quote" style="display:block;padding:2px;font-weight:oblique;
					border:1px dotted #000;overflow:hidden;font-size:15px;">
				If we salute our duty, every one will salute us. But if we pollute our duty, we will have to salute all.<br>
				<span style="float:right;color:#660000;">(Dr.A.P.J Abdul Kalam)</span>
				</div>
			</div>		<!---close of right-notifications-->
	
	</div>		<!----Close of notifications -->
	<!---starting mission---->
	<div id="home_mission" style="display:block;padding:5px;margin:1% 0px 1% 1%;;width:97%;text-align:center;
					background:#EEE8CD;overflow:hidden;font-size:17px;color:#1e90ff;">
	<span style="font-size:18px;font-weight:bold;color:#660000;margin-right:20px;">Our Motto:</span>
		Eyes of Knowledge Seeth
	</div>
	</div>		<!----Close of inside_body -->
	<hr>
	<div id="footer" style="text-align:center;color:#fff;clear:both; display:block;background:#000;width:98%;font-size:12px;padding:1%;">
	&copy;All rights reserved with ||Him_Coder||&reg;.<br>
	Designed, developed by ||Him_Coder||&reg;.
	Note that this is not the official website for TnP Cell, UIIT Shimla. It is just a sample and developed only for the study and experimental purpose.
	</div><hr>
</body>				<!----Close of Body -->
</html>
