<!DOCTYPE html>
<html lang="en">
<head>
	<link href="/static/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<title>TnP Cell UIIT Shimla</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Description" content="Training and Placement Cell UIIT Shimla welcomes you to TnP Cell web-portal, University Institute of 					Information Technology, Himachal Pradesh University Summerhill, Shimla. Browse through our brochure for more details 					on UIIT and our placement process." />
	<meta name="keywords" content="tnp uiit, TnP Cell UIIT Shimla,Training and Placement Cell UIIT Shimla, Placements UIIT Shimla,Training UIIT 				Shimla, Placements UIIT, UIIT,University Institute of Information Technology,HPU,
			Himachal Pradesh University,Summerhill,Shimla,Simla,H.P" />
	<meta property="og:description"  content="Training and Placement Cell UIIT Shimla, University Institute of Information Technology,
				 Himachal Pradesh University Shimla" />	
	<meta property="og:url" content="http://www.tnpuiit.appspot.com/" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Training and Placement Cell UIIT Shimla, University Institute of Information Technology,
				 Himachal Pradesh University Shimla" />
	<link href="/static/styles/main.css" rel="stylesheet" type="text/css">
</head>
<body><!----Start of Body -->
	<div id="inside_body">				<!----Start of inside_body div---------->
		<div id="logo">				<!----Start of logo div---------->
			<div id="logo_image">
				<img src="/static/images/logo.png" width="80" height="80" style="">
			</div>
			<div style="font-size:25px;color:#104E8B;margin-top:10px;">
					University Institute of Information Technology</div>
			<div style="font-size:14px;color:#104E8B;">
					Netaji Subhash Chandra Bose Bhavan, Himachal Pradesh University,<br> Summerhill, Shimla, 171005</div>
		</div>
		<div id="header">
		Training and Placement Cell, UIIT
		</div>
		<div id="menu">						<!----start of nav menu -->
			<a href="/" id="nav_others" title="Home UIIT">
					Home</a>
			<a href="/about_uiit" id="nav_current" title="About UIIT">
					About UIIT</a>
			<a href="/academics" id="nav_others" title="UIIT Academics">
					Academics</a>
			<a href="/students" id="nav_others" title="Students Life at UIIT">
					Students</a>
			<a href="/placements" id="nav_others" title="Placements UIIT">
					Placements</a>
			<a href="/alumni" id="nav_others" title="Alumni UIIT">
					Alumni</a>
			<a href="/downloads" id="nav_others" title="Downloads">
					Downloads</a>
			<a href="/contact_us" id="nav_others" title="Contact Us">
					Contact Us</a>
		</div>							<!----Close of menu -->
<!---Starting about main div-->
		<div id="about_uiit_main">
			<!---Starting about main left div-->
			<div id="about_uiit_main_left" style="padding-bottom:20px;">
			<span style="color:#1e90ff;font-size:18px;font-weight:bold;">Invitation from TPO, UIIT</span><br><br>
			<div style="text-align:center;width:150px;height:150px;float:right;overflow:hidden;">
				<img src="/static/images/tpo.jpg" width="120" height="120" style="border:2px solid #EBEBEB;float:right;">
			</div>
			<p style="color:#660000;">Dear Corporate Friends,<br><br>


As placement officer it gives me immense pleasure in introducing University Institute of Information Technology, H P University, Shimla. Our batches are ready for on campus placements. The course curriculum to which this group has been exposed is at par with national and international curricula which has been designed by Board of Studies consisting of Director’s of IIIT’s and eminent academicians for prestigious technical institution’s of the country.<br>

Students at UIIT are getting exposure (theoretical as well as practical) through intensive and rigorous studies/ training. They are going through two layered course structure consisting of core subjects such as programming languages, data structure algorithm, Operating system, Data Base Management, Networking, etc with special orientation towards IT applications, and through the techno-managerial courses like software engineering, E-Commerce, enterprise resource planning (ERP) and so on. Effort is also made to provide the necessary business perspective to building IT professionals. During 7th semester, the group is undergoing series of live mini projects and major projects,which it is hoped will groom students for the myriad opportunities in IT industry.<br>

I am sure that you will find our students among the best in the country, to take on the challenges of IT industry. Let me assure you that our students are well equipped, confident, flexible, hard working, intelligent, problem solvers and will be definitely an asset to the industry.<br><br>

I cordially invite you for an On-Campus placement at UIIT, Himachal Pradesh University, Shimla and look forward to your visit.<br>

<span style="color:#1e90ff;font-size:15px;font-weight:bold;">Dr.Dhirendra Sharma</span><br>

<span style="color:#1e90ff;font-size:15px;">Training and Placement Officer, UIIT HPU Shimla</span></p>
			</div><!--closing about main left div-->
			<!---Starting about main right div-->
			<div id="about_uiit_main_right">
			<div id="messages_menu" style="width:80%;margin-left:10%;text-align:center;">
				<span style="color:#1e90ff;font-size:15px;font-weight:bold;">Messages and Invitations:</span><br>
				<a id="academics_menu_a_others" href="/message_vc" 
					style="height:45px;">
				Vice Chancellor's<br>Message</a>
				<a id="academics_menu_a_others" href="/message_director" 
					style="height:45px;">
				Director's<br>Message</a>
				<a id="academics_menu_a_others" href="/co_invitation" 
					style="height:45px;">
				Coordinator's<br>Invitation</a>
				<a id="academics_menu_a_current" href="/tpo_invitation" 
					style="height:45px;">
				TPO's<br>Invitation</a>
			</div><br><br>
			</div><!---Closing about main right div-->
		</div>	<!---closing about main div-->
	</div>		<!----Close of inside_body -->
	<hr>
	<div id="footer" style="text-align:center;color:#fff;clear:both; display:block;background:#000;width:98%;font-size:12px;padding:1%;">
	&copy;All rights reserved with ||Him_Coder||&reg;.<br>
	Designed, developed by ||Him_Coder||&reg;.
	Note that this is not the official website for TnP Cell, UIIT Shimla. It is just a sample and developed only for the study and experimental purpose.
	</div><hr>
</body>				<!----Close of Body -->
</html>
