<!DOCTYPE html>
<html><!-- Start of doc -->
<head><!-- Start of head -->
	<link href="/static/images/favicon.ico" rel="shortcut icon" type="image/x-icon"> 
	<title>Startling Dictionary App</title>
	<meta charset="utf-8"></meta>
	<link href="/static/styles/main.css" rel="stylesheet" type="text/css">
</head><!-- close of head -->
<body id="body"><!-- Start of body -->
	<div id="header"><!-- Start of header -->		
		<span id="logo_left">
				<a style="text-decoration:none;color:inherit;" href="/">Startling Apps Kit</a></span>
		<span style="color:#660000;font-size:12px;vertical-align:super;">&reg;</span>
		<span style="cursor:default;float:right;margin-right:10%;">
			<span style="color:#1e90ff;font-weight:bold;padding-top:5px;">
				<a style="text-decoration:none;color: inherit;" href="/about" title="Him_Coder">
				||Him_Coder||</a></span>
			<span style="color:#660000;font-size:12px;vertical-align:super;">&reg;</span>
		</span>
	</div><!-- close of header -->
	<div id="rightside_links"><!-- Start of links -->
				<table style="font-size:13px;text-align:center;">
					<tr>
						<td>Share</td>
					</tr>
					<tr>
						<td><a href="https://www.facebook.com/pages/Startling-apps/313810505407653">
						<img src="/static/images/facebook.png" title="Like Us"
							width="30px" height="30px"/></a>
						</td>
					</tr>
					<tr>
						<td><a href="https://twitter.com/ksworld92">
						<img src="/static/images/twitter.png" title="Follow Us"
							width="30px" height="30px"/></a>
						</td>
					</tr>
					<tr>
						<td><a href="https://plus.google.com/b/102467185781267913385/102467185781267913385/about">
						<img src="/static/images/google.png" title="+1 Us"
							width="30px" height="30px"/></a>
						</td>
					</tr>
					<tr>
						<td><a href="http://www.yahoo.com/">
						<img src="/static/images/yahoo.png" title="Go to Yahoo.com"
							width="30px" height="30px"/></a>
						</td>
					</tr>
					<tr>
						<td><a href="http://www.youtube.com/">
						<img src="/static/images/youtube.png" title="Go to Youtube.com"
							width="30px" height="30px"/></a>
						</td>
					</tr>
					<tr>
						<td><a href="http://www.skype.com/">
						<img src="/static/images/skype.png" title="Go to Skype.com"
							width="30px" height="30px"/></a>
						</td>
					</tr>
					<tr>
						<td><a href="http://www.amazon.com/">
						<img src="/static/images/amazon.png" title="Go to Amazon.com"
							width="30px" height="30px"/>
						</td>
					</tr>
				</table>
	</div><!-- close of links -->
	<div id="body_container"><!-- Start of body container tag -->
	<div id="nav_bar"><!-- Start of navigation bar -->
		<img src="/static/images/new.gif" width="12" height="12">
		<a id="nav_others" style="text-decoration:none;" href="/" title="Home">Home</a>  ||
		<a id="nav_others" style="text-decoration:none;" href="/crawler" title="Forward Links">Crawler</a>  ||
		<a id="nav_others" style="text-decoration:none;" href="/weather" title="Weather Report">Weather</a>  ||
		<a id="nav_current" style="text-decoration:none;" href="/dictionary" title="Dictionary Application">Dictionary</a>  ||
		<a id="nav_others" style="text-decoration:none;" href="http://www.qbingapp.appspot.com/" title="Dictionary Application">QBing</a>  ||
		<a id="nav_others" style="text-decoration:none;" href="/about" title="About Him_Coder">About Us</a>
		<img src="/static/images/new.gif" width="12" height="12">
	</div><!-- close of navigation bar -->
	<div id="request_feed_body" style="width:100%;margin-top:30px;"><!-- Start of crawler post body -->
		<div id="dict_post_data" style="overflow:hidden;"><!-- Start of crawler post data -->
			<table style="width:100%;border:1px solid #BABABA;">
				<tr>
					<td style="border-bottom:1px solid #BABABA;width:49%;color:#fff;
						background:#660000;font-size:18px;font-weight:bold;padding:8px;">
							<span style="text-transform:uppercase;">{{word}}</span> At CollinsDictionary
					</td>
					<td style="border-bottom:1px solid #BABABA;width:49%;color:#fff;
						background:#660000;font-size:18px;font-weight:bold;padding:8px;">
							<span style="text-transform:uppercase;">{{word}}</span> At YourDictionary
					</td>
				</tr>
				<tr>
					<td style="">
						<div style="color:#660000;">{{collins}}</div>
					</td>
					<td style="padding-left:5px;">
						<div style="color:#660000;">{{your}}</div>
					</td>
				</tr>
				<tr>
					<td style="color:#1e90ff;font-size:13px;"><span style="color:#660000;font-weight:bold;">Note:</span>
					Any click on this page will take you to Home page.
					</td>
					<td style="color:#fff;background:#660000;font-size:13px;font-weight:bold;padding:5px;">
					Thanks for using Startling Dictionary.
						<span style="font-size:13px;font-weight:bold;">Make a new 
							<a style="text-decoration:none;color:#1e90ff;" href="/dictionary"> 'Search'</a>.</span>
					</td>
				</tr>
			</table>
		</div><!-- Close of crawler post data -->
	</div><!-- Close of crawler post body -->
	<div id="footer" style="clear:both;margin-top:30px;margin-bottom:10px;">
		<div style="color:#1e90ff;border:2px solid #ABABAB;text-align:center;font-size:12px;padding:10px;font-weight:bold;">
			&copy;All rights reserved with ||Him_Coder||&reg;.<br>You are free to use StartlingApps under our Privacy Policy.</div>
	</div>
	</div> <!-- Close of body container div-->
</body>
</html>
